{{options.label}}
{{#if powerSelect}}
  {{#if multiple}}
    {{#power-select-multiple
      options=choices
      selected=value
      onchange=(action "filterChanged") as |option|}}
      {{option.label}}
    {{/power-select-multiple}}
  {{else}}
    {{#power-select
      options=choices
      selected=value
      onchange=(action "filterChanged") as |option|}}
      {{option.label}}
    {{/power-select}}
  {{/if}}
{{else if dropdown}}
  <select onchange={{action 'selectValue'}} multiple={{multiple}}>
    {{#each choices as |choice|}}
      <option value={{choice.id}} >{{choice.name}}</option>
    {{/each}}
  </select>
{{else if checkbox}}
  {{input type='checkbox' checked=value}}
{{else if text}}
  {{input type='text' value=value }}
{{/if}}
